[Unit]
Description=Reads the powermeter data delivered by MQTT to modbus devices
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/python3 /opt/mqtt2modbus/mqtt2modbus.py

[Install]
WantedBy=multi-user.target
